extend base

block content
    main.main
        .user-view
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Your Booking Form 
                    form.form.form-user-review
                        .form__group
                            label.form__label(for='Tour Name') Tour Name
                            input#TourName.form__input(type='text', value=`${tour.name}`,required, name='tourName', readonly)
                            input#tourDuration.form__input(type='text', value=`${tour.duration} days`,required, name='tourDuration', readonly)
                            input.form__input(type='hidden', id=`tourID`,value=`${tour._id}`,required, name='tour')
                            input.form__input(type='hidden', id=`userID`, value=`${user._id}`,required, name='user')
                        .form__group
                            label.form__label(for='name') Name
                            input.form__input(type='text', id=`name`, required, name='name', value=`${user.name}` readonly)
                        .form__group
                            label.form__label(for='contact') Contact
                            input.form__input(type='text', id=`contact`, required, name='contact')
                        .form__group    
                            label.form__label(for='tourDates') Booking dates
                            select#tourDates.form__input(value='')
                                each date in tour.startDates
                                    -if(date > new Date(Date.now()))
                                        option(value=`${date}`)=date
                        .form__group
                            label.form__label(for='members') Number of members
                            input.form__input(type='number', id=`members`, required, name='member', min=1 max=`${tour.maxGroupSize}`)
                        .form__group.right
                            button.btn.btn--small.btn--green(id='confirmBooking') Confirm Booking
//- -function isNumber(evt) {
//-     evt = (evt) ? evt : window.event;
//-     var charCode = (evt.which) ? evt.which : evt.keyCode;
//-     if (charCode > 31 && (charCode < 48 || charCode > 57)) {
//-         return false;
//-     }
//-     return true;
//-     }
//-  onkeypress="return isNumber(event)" 